In [ ]:
# Assignment-No-1

    1. Find out all the types of error that we have encountered in our lecture and why?
    2.Take input A and B and print their sum ,mul,div,square of the nos.
    3. How many reserve keywords are there in python and why we should not use them as a variable name.
    4. Create email ids with the user inputs. in the following format-
       <lastname>.<firstname>@gmail.com
    5. Try to print the following lines-
       - Hi I'm Sunny
        - My address is 22/3
        - I earn 20$ daily
    6. Take user input (name,date of birth etc ) to fill a form for your college and print their email IDs.
    7. Convert the folllowing-
       - "22.4" into integer
        - "22" into complex no
        -

In [ ]:
# 1. Find out all the types of error that we have encountered in our lecture and why?
1. Print("Good Evening") # print is written as P capital

2. print "Good Evening" # Missing parentheses

3. print("Good          # EOL is missing
      Evening") 
      
4. ten*=10 # Variable name should not contain special character
         
5. ten%number=10 # cannot assign a operator in variable definition
         
6. 10ten=10 # Variable name cannot start with numbers
         
7. ten number=10 # invalid syntax
         
8. "22"+22 # cannot concate string and integer data type
         
9. TEN= 10
  print(Ten) # Varaible case sensitivity
         
10. print="Hi there" # we should not use reserved key words as variable name
         
11. a,b,c=10 # each and every variable must have a value Cannot unpack non iterable in object

12. # Calculate the age of the user
name=  input("Name: ") # input always gives you string
place=input("place: ")
year_of_birth=input("year_of_birth: ") # throw error beacuse input in python by default take string we have to typecast in int

age=2022-year_of_birth
         
13.  # String to integer
         
A="50.22"# entering float value
print(f"data type before : {type(A)},value of A: {A}")
A= int(A) # trying to convert it into integer    # throw error because we have entered the float value in " " and we are type casting in teger ,so in order to type cast in any data type we have to enter the variable in the desired format.
print(f"data type after:{type(A)},value of A: {A}")
      
14. # empty string  to integer
         
A= ""
print(f"data type before : {type(A)},value of A: {A}")
A= int(A)               # Throw error beacuse of converting empty string into integer.
print(f"data type after:{type(A)},value of A: {A}")
  
         
         
15. A= int(input("Entervalue of A : "))
B=int(input("Enter value of B: ")) # if we enter both the values as integer then no error will come, but if we
                                 #  give  input as integer and entering other data type in the run time, it will give error.
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

In [4]:
#  2.Take input A and B and print their sum ,mul,div,square of the nos.
 
a=int(input("enter first no: "))
b=int(input("enter second  no: "))
c=a+b
d=a-b
e=a*b
f=a/b
print(f" Sum of first number- {a} and second number {b} is : {c}")
print(f" Diiference of first number- {a} and second number {b} is : {d}")
print(f" Multi plication  of first number- {a} and second number {b} is : {e}")
print(f" Division of first number- {a} and second number {b} is : {f}")

enter first no: 8
enter second  no: 4
 Sum of first number- 8 and second number 4 is : 12
 Diiference of first number- 8 and second number 4 is : 4
 Multi plication  of first number- 8 and second number 4 is : 32
 Division of first number- 8 and second number 4 is : 2.0

In [7]:
  # 3. How many reserve keywords are there in python and why we should not use them as a variable name.
    # There are 33 reserved keywords in python language like print,and,import,return ,true etc.
    
    # We should not use them as variable name because they are preserved for special task/function.
    
    # for exampple 
    
print=10
type(print)

int

In [8]:
print('Hi I am Ritesh')

TypeError: 'int' object is not callable

In [9]:
del print

In [10]:
print('Hi I am Ritesh')

Hi I am Ritesh

In [ ]:
# here we have used print as a variable name for assigning the value 10, and we have checked it's dat type it is showing integer
# again whenn we use print() to print the statement it is throwing error or else identity of print is lost
# That,s why we have use to delete the print variable
# then it is working

In [11]:
#4.Create email ids with the user inputs. in the following format-
      # <lastname>.<firstname>@gmail.com

first_Name =input("first name: ")
middle_Name=input("middle name: ")
last_Name= input("last name : ")
print(f"email id of the person named :{first_Name} {middle_Name} {last_Name} is : {last_Name}.{first_Name}@gmail.com")

first name: Ritesh
middle name: Kumar
last name : Gupta
email id of the person named :Ritesh Kumar Gupta is : Gupta.Ritesh@gmail.com

In [5]:
 #5. Try to print the following lines-
      # - Hi I'm Sunny
       # - My address is 22/3
        #- I earn 20$ daily
name=input("name : ")
address=float (input("Address: "))
earn=int(input("earning is "))
print(f""" Hi i am {name}
My address is {address}
I earn {earn} $ daily
""")

name : Sunny
Address: 22.3
earning is 20
 Hi i am Sunny
My address is 22.3
I earn 20 $ daily

In [7]:
 # 6. Take user input (name,date of birth etc ) to fill a form for your college and print their email IDs.

name=input("name of student is : ")
DOB=input("Date of Birth is : ")
print(f"""College details:
name of the student :{name}
Date of Birth in DD MM YYY : {DOB}
Email id of the student {name} formed is :{name}.{DOB}@gmail.com
""")

name of student is : Ritesh Kumar Gupta
Date of Birth is : 07-05-1998
College details:
name of the student :Ritesh Kumar Gupta
Date of Birth in DD MM YYY : 07-05-1998
Email id of the student Ritesh Kumar Gupta formed is :Ritesh Kumar Gupta.07-05-1998@gmail.com

In [10]:
# 7. Convert the folllowing-
      # - "22.4" into integer
       # - "22" into complex no

a="22.4"
print(f"a is {a} and its data type is : {type(a)}")
b=float(a)
print(f"First a {a} get converted to float number  b - {b} and its data type becomes   : {type(b)}")
c=int(b)
print(f"Then float number b  {b} get converted to integer c - {c} and now its data type becomes   : {type(c)}")

a is 22.4 and its data type is : <class 'str'>
First a 22.4 get converted to float number  b - 22.4 and its data type becomes   : <class 'float'>
Then float number b  22.4 get converted to integer c - 22 and now its data type becomes   : <class 'int'>

In [11]:
a="22.4"  # Directly we cannot convert float value in "" to int , first to float then to integer
print(type(a))
b=int(a)
print(type(b))

<class 'str'>

ValueError: invalid literal for int() with base 10: '22.4'

In [13]:
a="22"
print(f"a is {a} and its data type is : {type(a)}")
b=float(a)
print(f"First a {a} get converted to float number  b - {b} and its data type becomes   : {type(b)}")
c=complex (b)
print(f"Then float number b  {b} get converted to complex number  c - {c} and now its data type becomes   : {type(c)}")

a is 22 and its data type is : <class 'str'>
First a 22 get converted to float number  b - 22.0 and its data type becomes   : <class 'float'>
Then float number b  22.0 get converted to complex number  c - (22+0j) and now its data type becomes   : <class 'complex'>